@import "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply relative;
}

:root {
    font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    --pure-white: #ffffff;
    --primary-color: #c7d2fe;
    --secondary-color: #e0e7ff;
    --tertiary-color: #eef2ff;
    --accent-color: #4f46e5;
    --heading-color: rgba(0, 0, 0, 0.7);
}

body {
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 10%, var(--tertiary-color) 40%);
    @apply absolute top-0 m-0 h-screen w-full bg-indigo-200 bg-fixed bg-no-repeat;
}

body::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, var(--pure-white) 0%, rgba(255, 255, 255, 0) 100%);
    @apply absolute top-0 left-[10vw] -z-10 h-screen w-[80vw] opacity-5;
}

#svelte {
    @apply flex min-h-screen flex-col;
}

h1,
h2,
p {
    @apply font-normal text-black/70;
}

p {
    @apply leading-6;
}

a {
    @apply text-indigo-500 no-underline;
}

a::after {
    content: "";
    @apply absolute bottom-0 left-0 h-2 w-0  -skew-x-[30deg] bg-indigo-500/20 transition-all;
}

a:hover::after {
    @apply w-full;
}

h1 {
    @apply text-center text-3xl;
}

h2 {
    @apply text-base;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    @apply outline-none;
}

@media (min-width: 720px) {
    h1 {
        @apply text-4xl;
    }
}
